user  nginx;
worker_processes  1;
error_log  /var/log/nginx/error.log warn;
pid        /var/run/nginx.pid;

events {
  worker_connections  1024;
}

http {
  include       /etc/nginx/mime.types;
  default_type  application/octet-stream;
  log_format  main  '${DOLLAR}remote_addr - ${DOLLAR}remote_user [${DOLLAR}time_local] "${DOLLAR}request" '
                    '${DOLLAR}status ${DOLLAR}body_bytes_sent "${DOLLAR}http_referer" '
                    '"${DOLLAR}http_user_agent" "${DOLLAR}http_x_forwarded_for"';
  access_log  /var/log/nginx/access.log  main;
  sendfile        on;
  keepalive_timeout  65;
  
  server {
    listen       ${NGINX_LISTEN_PORT};
    server_name  ${NGINX_SERVER_NAME};

    location / {
      root   /usr/share/nginx/html;
      index  index.html;
      try_files ${DOLLAR}uri ${DOLLAR}uri/ /index.html;
    }
  
    location ^~ /login {
        root   /usr/share/nginx/html;
        index  login.html;
        try_files ${DOLLAR}uri ${DOLLAR}uri/ /login.html;
    }
    location ~ ${NGINX_API_PREFIX} {
        proxy_pass ${NGINX_API_PROXY_PASS};
        proxy_http_version 1.1;
        proxy_set_header Upgrade ${DOLLAR}http_upgrade;
        proxy_set_header Connection "upgrade";
    }

    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
      root   /usr/share/nginx/html;
    }
  }
}
